UWSGI_WORKERS=2 # количество процессов UWSGI
UWSGI_THREADS=2 # количество потоков UWSGI
JWT_SECRET='very_secret_jwt' # секретное значение для JWT токенов
SERVER_TOKEN='secret_server_token' # токен для доступа к HTTP API